<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<style>
		body {
			color: #343434;
			font-family: 'Georgia';
		}
		h2, h3, h4 {
			color: #434343;
			text-align: center;
			margin: 0 4px 2px 4px;
		}
		#main {
			margin: 0 auto;
			margin-top: 140px;
			background-color: linen;
			width: 80%;
			border-radius: 10px;
			min-height: 80px;
			box-shadow: 3px 3px 2px gray;
			padding: 5px;
			text-align: center;
		}
		.entry_container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-direction: row-reverse;
			margin: 10px;
			border: 1px solid #C3C3C3;
			min-height: 300px;
}
.advert {
	min-height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 10px;
	background-color: #FFF;
	border-right: 1px solid #d5d5d5;
}
p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.username_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: linen;
	padding: 20px 4px 20px 4px;
	height: 300px;
	
}
.username_card {
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	height: 30px;
	min-width: 300px;
	font-size: 24px;
	padding: 2px 2px 2px 2px;
	background-color: white;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.offer_card {
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	height: 30px;
	min-width: 300px;
	font-size: 24px;
	padding: 2px 2px 2px 2px;
	background-color: #EBEBEB;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
input {
	border: none;
	font-size: 20px;
	border-bottom: 1px solid #343434;
	text-align: center;
}
label {
  width: 60px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-size: 20px;
}
.u_input{
	width: 250px;
	line-height: 1.6;
	height: 30px;
}
.o_input{
	width: 250px;
	line-height: 1.6;
	height: 30px;
	background-color: #EBEBEB;
}
.u_input:focus {
	background: #eaeaea;
}
.username_button {
	border-radius: 5px;
	border: 1px solid #A4A4A4;
	/*min-height: 37px;*/
	min-width: 50px;
	font-size: 16px;
	display: inline-block;
	padding: 2px 2px 0 2px;
	/*background-color: #C3C3C3;*/
	background-color:#B14949;
	color: white;
	margin-left: 2px;
}
.username_button:hover {
	opacity: .7;
	cursor: pointer;
}
.offer_bubble {
	display: flex; 
	flex-direction: column; 
	border-radius: 50%; 
	background-color: #EBEBEB; 
	width: 100px; 
	height: 100px; 
	justify-content: center; 
	color: #949494;
	cursor: pointer;
}
.link_tag {
	margin-top: '10px'; 
	flex-basis: '50px';
	color: '#B14949'; 
	text-decoration: 'underline';
	cursor: 'pointer';
}
</style>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				return {view: 'login', email: '', promo: '', pass: ''}
			},
			displayLogin: function(){
				return (
					<section className='username_container'>
						<h2 style={{marginBottom: '5px'}}>Login Here</h2>
						<article className='username_card'>
							<label>Email:</label>
							<input id='u_input' className='u_input' type='email' size="35" placeholder='example@mail.com'
							value={this.state.email} onChange={(e)=>{
								this.setState({email: e.target.value})}} />
						</article>
						<article className='offer_card'>
							<label>Pass:</label>
							<input id='o_input' className='o_input' type='password' size="35" placeholder='password' 
							value={this.state.pass} onChange={(e)=>{
								this.setState({pass: e.target.value})}}/>
						</article>
						<button className='username_button' style={{minHeight: '37px'}} onClick={(e)=>{
							alert('it worked');
						}}>Login</button>
						<a style={{marginTop: '10px', flexBasis: '50px', color: '#B14949', textDecoration: 'underline', cursor: 'pointer'}} onClick={(e)=>{this.setState({view: 'signup'})}}>or sign-up here...</a>
					</section>
				);
			},
			displaySignup: function(){
				return (
					<section className='username_container'>
						<h2 style={{marginBottom: '5px'}}>Sign-up Now</h2>
						<article className='username_card'>
							<label>Email:</label>
							<input id='u_input' className='u_input' type='email' size="35" placeholder='example@mail.com'
							value={this.state.email} onChange={(e)=>{
								this.setState({email: e.target.value})}} />
						</article>
						
						<button className='username_button' style={{minHeight: '37px'}} onClick={(e)=>{
							alert('it worked');
						}}>Get Updates!</button>
						<a style={{marginTop: '10px', flexBasis: '50px', color: '#B14949', textDecoration: 'underline', cursor: 'pointer'}} onClick={(e)=>{this.setState({view: 'login'})}}>or login here...</a>
					</section>
				);
			},
			render: function(){
				return (
					<main id='main'>
						<div className='entry_container'>
							{(this.state.view=='login') ? this.displayLogin() : this.displaySignup()}
							<section className='advert'>
								<article>
									<img src="../imgs/flag2.png" alt="flag" />
									<p>
									Motivational Therapy is an app devoted to 
									boosting your productivity. 
									As the app learns your habits, tasks are automatically created and re-organized 
									to increase the likelihood of successful performance in alignment with your goals. {' '} 
									<a style={{flexBasis: '50px', color: '#B14949', textDecoration: 'underline', cursor: 'pointer'}} onClick={(e)=>{
									alert('it worked');
								}}>Get Started...</a>
								</p></article>
								
							</section>
						</div>
					</main>
				);	
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
</body>
</html>