<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<style>
	* {
			font-family: 'Georgia';
			padding: 0;
			margin: 0;
		}
		.modal {
      display: block; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	  }

	  /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 60%; /* Could be more or less, depending on screen size */
    }
    .modal-content article {
	  	display: flex;
	  	justify-content: space-between;
	  }
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
				border: 1px solid #C3C3C3;
				flex-basis: 30px;
				text-align: center;
				background-color: #EBEBEB;
				line-height: 1;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header {
			width: 100%; 
			background-color: #B14949; 
			color: #FFFFFF; 
			text-align: center; 
			margin: 0; 
			line-height: 1.8;
		}
    label.long {
		  width: 400px;
		  display: inline-block;
		  vertical-align: top;
		  margin: 6px;
		  font-size: 20px;
		}
		label.short {
		  width: 30px;
		  display: inline-block;
		  vertical-align: top;
		  margin: 6px;
		  font-size: 20px;
		}
		input.long {
			border: none;
			font-size: 20px;
			border-bottom: 1px solid #343434;
			text-align: center;
			line-height: 1.6;
			width: 50%;
		}

		input.short {
			border: none;
			font-size: 20px;
			border-bottom: 1px solid #343434;
			text-align: center;
			line-height: 1.6;
			width: 20%;
		}
		label.medium {
		  width: 60px;
		  display: inline-block;
		  vertical-align: bottom;
		  margin: 6px;
		  font-size: 20px;
		  color: #8e8e8e;
		  position: absolute;
		  margin-left: -120px;
		}
		.submit_button {
			border-radius: 5px;
			border: 1px solid #A4A4A4;
			min-height: 37px;
			width: 90%;
			font-size: 16px;
			display: inline-block;
			padding: 2px 2px 0 2px;
			background-color: #C3C3C3;
			color: white;
			margin-left: 2px;
			margin-top: 20px;
		}
		.submit_button:hover {
			background-color: #A4A4A4;
		}
		button {
			margin: 20px;
		}
	
  </style>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				var gantt_arr = [
					{
            calendar_id: '8-22-2018',
            color: "#66ADD5",
            denominator_hours: 1,
            goal_id: "Select Goal",
            id: "g_1",
            numerator_hours: 1,
            status: "PROJECTED",
            journal: ""
          },
          {
            calendar_id: '8-22-2018',
            color: "#66ADD5",
            denominator_hours: 1,
            goal_id: "workout",
            id: "g_2",
            numerator_hours: 1,
            status: "PROJECTED",
            journal: ""
          }					
				];
				return {data: {gantt_arr: gantt_arr}}
			},
			render: function(){
				return <Layout data_layer={this} />	
			}
		});
		var Layout = React.createClass({
			getInitialState: function(){
				return {
					journal_status: false,
					journal_index: null
				}
			},
			render: function(){
				var gantt_arr=this.props.data_layer.state.data.gantt_arr;
				
				return (
					<div>
						{gantt_arr.map((gantt_obj, gantt_index)=>{
							return (
								<div key={gantt_index}>
									<button onClick={(e)=>{
										e.preventDefault
										this.setState({journal_status: !this.state.journal_status, journal_index: gantt_index})
									}}>Journal</button>	
									{(this.state.journal_status) ? <Journal key={gantt_index} layout_layer={this} data_layer={this.props.data_layer} gantt_index={this.state.journal_index} /> : null} 
								</div>
							);
						})}
						
						


					</div>
				);	
			}
		});
		var Journal = React.createClass({
			getInitialState: function(){
				var journal_text = this.props.data_layer.state.data.gantt_arr[this.props.gantt_index].journal_text;
				return {journal_text: journal_text}
			},
			render: function(){
				var data = this.props.data_layer.state.data;
				return (
					<div className="modal">
						<div className="modal-content">		
							<div style={{display: 'flex', justifyContent: 'center'}}>
					  		<form>
					  			<div style={{display: 'flex', flexDirection: 'column'}}>
					  				<article><h3 className='modal-header'>{data.gantt_arr[this.props.gantt_index].goal_id} Blog</h3>
					  					<span className="close" onClick={(e)=>{
					  						e.preventDefault();
					  						var journal_status = this.props.layout_layer.state.journal_status;
					  						this.props.layout_layer.setState({journal_status: !journal_status});
					  					}}>&times;</span>
					  				</article>
					  				<article style={{flexDirection: 'column'}}>
					  					<label className='long'>Compare yourself to who you were yesterday. <br />Why are you better off than you were before?</label>
					  					<textarea style={{height: '300px', width: '400px', resize: 'none', fontSize: '16px'}} onChange={(e)=>{
					  						e.preventDefault();

					  						this.setState({journal_text: e.target.value});
					  					}}>
					  						{this.state.journal_text}
					  					</textarea>
					  				</article>

					  			</div>
					        <article style={{justifyContent: 'center'}}>
					        	<input className='submit_button' type='submit' value='Submit' onClick={(e)=>{
					        		e.preventDefault();
					        		data.gantt_arr[this.props.gantt_index].journal_text = this.state.journal_text;
					        		this.props.data_layer.setState({data: data});
					        		this.props.layout_layer.setState({journal_status: false});
					        	}} />
					        </article>
					      </form>
					  	</div>
						</div>
					</div>
				);	
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
</body>
</html>