<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<script src="../profile.js"></script>
	<style>
		* {
			font-family: 'Georgia';
			padding: 0;
			margin: 0;
		}
		.new_body {
			display: block;
			background-color: #EBEBEB;
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 100%;
		}
		.header {
			width: 100%; background-color: #B14949; color: #FFFFFF; text-align: center;
		}
		.sub-header {
			font-style: italic;
		}
		.menu {
			display: flex; 
			justify-content: space-evenly; 
			width: 100%; border-bottom: 1px solid gray; 
			padding:4px 0 2px 0; 
			background-color: #F8F8F8;
		}
		.menu-selected {
			background-color:#F7B5B5; color:#B14949; border-radius: 10px; padding: 0 4px 0 4px;
		}
		h4:hover {
			text-decoration: underline;
			color: #B14949;
			transition: color 0.4s;
		}

		.content-header {
			color: #343434; margin-top: 10px
		}
		.content-sub-header {
			display: flex; justify-content: space-between; width:80%
		}
		#main {
			margin-top: 4px;
			background-color: linen;
			width: 80%;
			border-radius: 10px;
			min-height: 80px;
			box-shadow: 3px 3px 2px gray;
		}
		h2, h3, h4 {
			width: 100px;
			color: #434343;
			text-align: center;
			
		}
		.msg_success {
			color: green;
		}
		.msg_failure {
			color: red;
		}
		.msg_general {
			color: #D56666;
			font-style: italic;
		}
		/*user menu*/
		.widgetItem {
			position: absolute;
    	right: 5px;
    	top: 13px;
    	display: flex;
    	align-items: center;
    	justify-content: flex-end;
    	flex-direction: column;
    	width: 80px;
  }
  .flexItem {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    color: #FFF;
    font-size: 12px;
  }
  .profile_item {
  	border-right: 1px solid black;
  	border-left: 1px solid black;
  	border-bottom: 1px solid black;
  	width: 80px;
  	height: 20px;
  	background-color: white;
  	color: #343434;
  }
  .profile_item:hover {
  	text-decoration: underline;
			color: #B14949;
			transition: color 0.4s;
  }
  @media screen and (max-width: 600px) {
	  h1 {
	    font-size: 20px;
	  }
	  .sub-header {
			font-size: 12px;
		}
	  .widgetItem {
	    top: auto;
	    position: fixed;
	    right: 0;
	    width: 100%;
	    bottom: 0;
	  }
	  .profile_item {
	  	border-bottom: none;
	    border-top: 1px solid black;
	    text-align: center;
	    width: 100%;
	  }
	  .head_pic {
	  	display: none;
	  }
	}
	</style>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
			getInitialState: function(){
				var data = getData();
				if(data){
					return {data: data};
				} else {
					return {data: {policy_arr: [1 ,2, 3], task_arr: [1, 2], gantt_arr: [1]}}	
				}
				
			},
			render: function(){
				return <Layout data_layer={this} />
			}
		});
		var Layout = React.createClass({
			render: function(){
				return (
					<div className='new_body'>
						<div className='header'>
							<h1>Motivational Therapy</h1>
							<p className='sub-header'>Increasing Productivity with Machine Learning</p>
							<Profile data_layer={this.props.data_layer} layout={this} />
						</div>
						<div className='menu'>
							<h4>Goals</h4>
							<h4 className='menu-selected'>Tasks</h4>
							<h4>Productivity</h4>
						</div>
						<h2 className='content-header'>Tasks</h2>
						<div className='content-sub-header'>
							<h4>Back</h4>
							<p className='msg_general'>This is currently a serverless application.</p>
							<h4>Next</h4>
						</div>
						<main id='main'>
							{/*JSON.stringify(this.props.data_layer.state.data)*/}
							<button onClick={(e)=>{
								var data = this.props.data_layer.state.data;
								data.policy_arr.push(["im here bitches"]);
								this.props.data_layer.setState({data: data});
							}}>push me</button>
						</main>
					</div>
				);	
			}
		});
		var Profile = React.createClass({
			getInitialState: function(){
				return {profile_menu_status: true}
			},
			displayProfileMenu: function(){
				return (
				  <div style={{width: '100%'}}>
				    <div className="profile_item" onClick={(e)=>{
				    	var data = this.props.data_layer.state.data;
				    	saveProfile('data.txt', JSON.stringify(data))}}>Save</div>
				    <div className="profile_item" onClick={(e)=>{
				    	loadProfile(); //loads profile to localStorage
				    }}>Load</div>
				    <div className="profile_item" onClick={(e)=>{clearData()}}>Clear</div>
				  </div>
				);
			},
			render: function(){
				return (
					<div className="widgetItem" >
		    		<img className='head_pic' src="../imgs/set_profile.png" alt="user" height="28" width="23" onClick={(e)=>{
		    			var profile_menu_status = this.state.profile_menu_status;
		    			this.setState({profile_menu_status: !(profile_menu_status)})
		    		}}/>
		    		<div className="flexItem head_pic" onClick={(e)=>{
		    			var profile_menu_status = this.state.profile_menu_status;
		    			this.setState({profile_menu_status: !(profile_menu_status)})
		    		}}>Profile</div>
		    		{(this.state.profile_menu_status) ? this.displayProfileMenu() : null}	
		  		</div>
				);
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
</body>
</html>