<html>
<head>
	<meta charset="utf-8">
	<script src="./build/react.min.js"></script>
	<script src="./build/react-dom.min.js"></script>
	<script src="./build/browser.min.js"></script>
	<style>
		body {
			color: #343434;
			font-family: 'Georgia';
		}
		h2, h3, h4 {
			color: #434343;
			text-align: center;
			margin: 0 4px 2px 4px;
		}
		#main {
			margin: 0 auto;
			margin-top: 140px;
			background-color: linen;
			width: 80%;
			border-radius: 10px;
			min-height: 80px;
			box-shadow: 3px 3px 2px gray;
			padding: 5px;
			text-align: center;
		}
		.entry_container {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-direction: row-reverse;
			margin: 10px;
			border: 1px solid #C3C3C3;
			min-height: 300px;
}
.advert {
	height: 320px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 10px;
	background-color: #FFF;
}
p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.username_container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: linen;
	padding: 20px 4px 20px 4px;
	height: 300px;
	border-left: 1px solid #d5d5d5;
}
.username_card {
	border-radius: 5px;
	border: 1px solid #D5D5D5;
	height: 30px;
	min-width: 300px;
	font-size: 24px;
	padding: 2px 2px 2px 2px;
	background-color: white;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
input {
	border: none;
	font-size: 20px;
	border-bottom: 1px solid #343434;
	text-align: center;
}
label {
  width: 60px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
  font-size: 20px;
}
.u_input{
	width: 250px;
	line-height: 1.6;
	height: 30px;
}
.u_input:focus {
	background: #eaeaea;
}
.username_button {
	border-radius: 5px;
	border: 1px solid #A4A4A4;
	/*min-height: 37px;*/
	min-width: 50px;
	font-size: 16px;
	display: inline-block;
	padding: 2px 2px 0 2px;
	/*background-color: #C3C3C3;*/
	background-color:#B14949;
	color: white;
	margin-left: 2px;
}
.username_button:hover {
	opacity: .7;
	cursor: pointer;
}
</style>
</head>
<body>
	<main id='container'></main>
	<script type='text/babel'>
		var App = React.createClass({
		
			render: function(){
				return (
					<main id='main' style={{display: 'flex', justifyContent: 'center', padding: '10px'}}>
						<iframe width="649" height="288" src="https://www.youtube.com/embed/9W43kbdrjr4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</main>
				);	
			}
		});
		ReactDOM.render(<App />, document.getElementById('container'));
	</script>
</body>
</html>